html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: #30373e;
}

#root {
  height: 100%;
}

input:focus,
select:focus {
  outline: none;
  background: transparent;
}

select:focus {
  color: #000;
}

button {
  size: 1.6rem;
  padding: 10px 50px;
  background-color: #8e1403;
  color: #fff;
  margin: 30px;
  border-radius: 50px;
  cursor: pointer;
}
.full-width {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #8e1403;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: 500;
}

.header > div {
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 0 auto;
  width: 50%;
  height: 82%;
}

.dbSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  flex-direction: column;
}

form input,
select {
  display: block;
  padding: 10px;
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  color: #fff;
}

form select {
  width: 52%;
}
form label {
  color: #fff;
}

.footer {
  grid-area: footer;
  background-color: #8e1403;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
